<%- include('partials/header'); -%>

<h1>home</h1>
<p><%= homeStartingContent %></p>

<!-- display all posts added -->
<% posts.forEach(myfunction) %>


<% function myfunction(item) { %>
    
    <h1><%=item.title %></h1>

    <!-- truncate string to certain length -->
    <p><%= item.content.slice(0,100) + '...' %></p>
    <a href="/posts/<%= item.title %>">Read More</a>
    


<%}%>

<%- include('partials/footer'); -%>
